%h1{align:"center"}Log in
.row
  .col-md-12.offset-2
    =form_for :session , url: login_path do |d|
      .form-group
        .control-label.col-sm-12.formsize
          = d.label :email
        .col-sm-8
          = d.email_field :email, class: "form-control", placeholder: "Your email", autofocus: true
        .form-group
          .control-label.col-sm-12.formsize
            = d.label :password
          .col-sm-8
            = d.password_field :password, class: "form-control", placeholder: "Your Password", autofocus: true
        .form-group
          .col-sm-10
            = d.submit "Log in", class: "btn btn-primary"
      .col-xs-4.col-xs-offset-4
        = link_to "back to articles lisning" , articles_path, class: "btn btn-outline-info btn-md"

