- if @article.errors.any?
  .row
    .col-xs-8.col-xs-offset-2
      .panel.panel-danger
        .panel-heading
          %h2.panel-title
            = pluralize(@article.errors.count, "error")
            prohibited this article from begin saved:
        .panel-body
          %ul
          - @article.errors.full_messages.each do |d|
            %li
              =d

.row
  .col-md-12.offset-2
    =form_for @article do |d|
      .form-group
        .control-label.col-sm-12
          = d.label :title
        .col-sm-8
          = d.text_field :title, class: "form-control", placeholder: "title of article", autofocus: true
        .form-group
          .control-label.col-sm-12
            = d.label :description
          .col-sm-8
            = d.text_area :description, class: "form-control", placeholder: "description from article", autofocus: true
        .form-group
          .col-sm-10
            = d.submit class: "btn btn-primary"
      .col-xs-4.col-xs-offset-4
        = link_to "back to articles lisning" , articles_path
