
    
=form_for @article do |d| 
  %p
    = d.label :title
    = d.text_field :title 
  %p
    = d.label :description
    = d.text_area :description
  = d.submit
= link_to "back to articles lisning" , articles_path
    